<div class="checkout">
    <h1>Checkout</h1>
    <div class="row">
        <div class="col-sm-7">
            <h3>Add Shipping Address</h3>
            <p class="">{{orderMsg}}</p>
            <form #orderForm="ngForm" class="common-form" (ngSubmit)="orderNow(orderForm.value)">
                <input type="email" placeholder="Enter User Email" name="email" class="form-input" ngModel>
                <input type="Address" placeholder="Enter User Address" name="address" class="form-input" ngModel>
                <input type="contact" placeholder="Enter User Contact Detail" name="contact" class="form-input" ngModel>
                <button class="form-button">Order Now</button>
            </form>

        </div>
        <div class="col-sm-5">
            <h3>Total Amount: {{totalPrice}}</h3>
            <h4>Payment Method: <b>Pay On Delivery</b>
            </h4>

        </div>

    </div>

</div>