<nav class="nav">
    <h1><a class="a" routerLink="/">Ecoomerce</a></h1>
    <div *ngIf="menuType!=='seller'" class="nav-search">
        <input type="text" #searchInput (keyup)="searchProduct($event)" (blur)="hidesearch()"
            placeholder="serch for product">
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggestion-search">
            <li *ngFor="let item of searchResult">

                <a (mousedown)="redirectToDetail(item.id)">{{item.name}}</a>
            </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller-auth">seller</a></li>
            <li><a routerLink="/user-auth">Login/SignUp</a></li>
            <li><a href="#">Cart({{cartItem}})</a></li>
        </ul>
        <ul *ngSwitchCase="'user'">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="seller-auth">seller</a></li>
            <li><a routerLink="seller-auth">{{userName | titlecase}}</a></li>
            <li><a routerLink="/my-order">My Orders</a></li>
            <li><a (click)="userLogout()">Logout</a></li>
            <li><a [routerLink]="cartItem >0 ? 'cart-page':null">Cart({{cartItem}})</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="seller-Add-Product">Add Product</a></li>
            <li><a routerLink="seller-home">Product List</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a href="#">{{sellerName | titlecase}}</a></li>
        </ul>
    </div>