<div class="product-list">
    <h1>All Product List</h1>
    <p class="p-message">{{poductMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Colour</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of productList">
                <td><img src="{{item.image}}"></td>
                <td>{{item.name | titlecase}}</td>
                <td>{{item.price }}</td>
                <td>{{item.colour | titlecase}}</td>
                <td>{{item.category | titlecase}}</td>
                <td>{{item.description | titlecase}}</td>
                <td><fa-icon (click)="deleteProduct(item.id)" [icon]="icon"></fa-icon>
                    <a class="edit-icon" routerLink="/seller-update-product/{{item.id}}"><fa-icon
                            [icon]="editIcon"></fa-icon></a>

                </td>
            </tr>
        </tbody>
    </table>

</div>